body{
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-repeat: no-repeat;
  background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
margin-top: 100px;
font-size: 60px;
font-style: italic;
color:#EB1D36;
}

#btnsteak{
    display: flex;
    justify-content: space-evenly;
        }
#btn{
 padding: 15px;
 font-size: 20px;
 border-radius: 20px;
 border: none;
 background-color: #E7F6F2;
 margin-top: 50px;
 }
 #btn:hover{
    background:linear-gradient(to left,#da1212,#ad1f78)
 }
a{
    text-decoration: none;
    color: black;
    
   }